/* body { 
    background-color:#020202; 
    font-family:  Helvetica, sans-serif;  
    margin:0 auto ; 
    background-image:url('/assets/images/background.jpg');
    background-repeat:no-repeat;
    background-size:90%; 
    background-position:center top ;
}
body:hover {  
    background-size:100%;   
} */